:root {
    --main-bg-color: #A1C3CF;
    --main-text-color: black;
    --main-max-width: 90%;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    overflow: hidden;
    overflow-y: auto;
}