.reviews-list {
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

.pagination button {
    background-color: #007bff;
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    align-self: center;
    margin: 0 10px;
    font-weight: bold;
}
