.card {
    width: 300px;
    background-color: #1E5780;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
}

.card-body {
    height: 250px;
    background-color: #A6D2EC
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.school-logo {
    max-width: 80%;
    max-height: 80%;
}
