* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}

.navbar-left h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

.navbar-center {
    display: flex;
    justify-content: center;
    flex: 1;
}

.navbar-center a {
    margin: 0 20px;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    font-weight: normal;
    transition: font-weight 0.3s ease;
}

.navbar-center a:hover,
.navbar-center a.active {
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center; 
    text-align: right;
}

.profile {
    text-align: right;
    margin-right: 10px;
}

.profile-name {
    font-size: 1.1rem;
    font-weight: bold;
}

.profile-school {
    font-size: 0.9rem;
    margin-top: 2px;
}

.profile-img {
    width: 3rem;
    height: 3rem;
    color: black;
}

.Home {
    text-decoration: none;
    color: black;
}

.profile-link {
    text-decoration: none;
    color: black;
}
