.school-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: 100%;
    padding: 40px 50% 0px 50%;
    gap: 50px;
    margin: 0 auto;
}

.link-decoration {
    text-decoration: none;
    color: black;
}