.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Függőleges középre igazítás */
    align-items: center; /* Vízszintes középre igazítás */
    padding: 2rem;
    min-height: 100vh; /* Magasság beállítása a teljes nézethez */
    width: var(--main-max-width); /* A maximális szélesség beállítása */
    margin: 0 auto; /* Középre igazítás */
    background-color: var(--main-bg-color); /* Háttérszín */
}

.title {
    font-size: 4rem; /* Nagyobb betűméret a címhez */
    color: var(--main-text-color);
    margin-bottom: 1rem; /* Alsó margó a cím alatt */
}

.description {
    text-align: center; /* Középre igazítás */
    margin-bottom: 2rem; /* Margó a gombok felett */
}

.description p {
    font-size: 1.2rem; /* Szöveg mérete */
    color: #000000; /* Szöveg színe */
    margin: 0.5rem 0; /* Margó a bekezdések között */
}

.button-container {
    display: flex; /* Gombok egymás mellett */
    gap: 1rem; /* Különbség a gombok között */
}

.search-button {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Zöld szín */
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #45a049; /* Sötétebb zöld hover állapot */
}
