.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    width: var(--main-max-width);
    margin: 0 auto;
    background-color: var(--main-bg-color);
}

.title {
    font-size: 4rem;
    color: var(--main-text-color);
    margin-bottom: 1rem;
}

.description {
    text-align: center;
    margin-bottom: 2rem;
}

.description p {
    font-size: 1.2rem;
    color: #000000;
    margin: 0.5rem 0;
}

.button-container {
    display: flex;
    gap: 1rem;
}

.search-button {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #45a049;
}
