.profile-card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
    margin-top: 10rem;
  }
  
  .profile-image {
    width: 350px;
    height: 350px;
    background-color: #f4d35e;
    border-radius: 8px 0 0 8px;
  }
  
  .profile-info {
    padding: 20px;
    flex-grow: 1; 
  }
  
  .profile-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
    font-size: 2rem;
  }
  
  .profile-info p {
    color: #666666;
    font-size: 1.3rem;
    margin: 5px 0;
  }
  
  .profile-info p strong {
    color: #333333;
  }